{% extends "base.html" %}
      <div class="red-bar"></div>
    </div>

    <div>
      <div class="form-container">
        <form>
          <label for="Domicile">Domicile State:<span id="required">*</span></label>
          <select id="Domicile" name="domicile">
            <!-- <option value="none" selected></option> -->
            <option value="Bihar">Bihar</option>
            <option value="Delhi">Delhi</option>
            <option value="Haryana">Haryana</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
          </select>
          
          <label for="institute
          ">Institute State:<span id="required">*</span></label>
          <select id="institute" name="institute_state">
            <!-- <option value="none" selected></option> -->
            <option value="Bihar">Bihar</option>
            <option value="Delhi">Delhi</option>
            <option value="Haryana">Haryana</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
          </select>
          
          <label for="institute_name">Institute Name:<span id="required">*</span></label>
          <select id="institute_name" name="institute_name">
            <option value="option1">Option 1</option>
          </select>
          
          <label for="institute_code">Institute Code:<span id="required">*</span></label>
          <input type="text" id="input" name="institute_code" required />
          
          <label for="Scholarship Category">Scholarship Category:<span id="required">*</span></label>
          <select id="Scholarship Category" name="Scholarship Category">
            <option value="Pre-Metric">Pre-Metric</option>
            <option value="Post-Metric">Post-Metric</option>
          </select>
          
          <label for="dob">Date of Birth:<span id="required">*</span></label>
          <input type="date" id="input1" name="dob" required />
          
          <label for="father_name">Father Name:<span id="required">*</span></label>
          <input type="father_name" id="input2" name="father_name" id="textInput" oninput="handleInput(this)" required />
          
          <label for="Mother Name">Mother Name:<span id="required">*</span></label>
          <input type="text" id="input3" name="mother_name" id="textInput" oninput="handleInput(this)" required />
          
          <label for="annual_income">Annual Income:<span id="required">*</span></label>
          <input type="number" id="input" name="annual_income" required />
          
          <label for="gender">Gender:<span id="required">*</span></label>
          <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          
          <label for="category">Category:<span id="required">*</span></label>
          <select id="category" name="category">
            <option value="general">General</option>
            <option value="obc">OBC</option>
            <option value="sc">SC</option>
            <option value="st">ST</option>
          </select>
          
          <label for="religion">Religion:<span id="required">*</span></label>
          <select id="religion" name="religion">
            <option value="Hindu">Hindu</option>
            <option value="muslim">Muslim</option>
            <option value="christian">Christian</option>
            <option value="sikh">Sikh</option>
          </select>
          
          <label for="course">Course:<span id="required">*</span></label>
          <select id="course" name="course">
            <option value="bca">BCA</option>
            <option value="b.tech">B.Tech</option>
            <option value="bba">BBA</option>
          </select>
          
          <label for="enrollment">Enrollment No:<span id="required">*</span></label>
          <input type="text" id="input" name="enrollment" required />
          
          <label for="adm_year">Admission Year:<span id="required">*</span></label>
          <input type="number" id="input" name="adm_year" required />
          
          <label for="pr_year">Present Year:<span id="required">*</span></label>
          <select id="select5" name="pr_year">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        
        <label for="mode">Mode of Study:<span id="required">*</span></label>
        <select id="select5" name="mode">
          <option value="regular">Regular</option>
          <option value="correspondence">Correspondence</option>
        </select>
        
        <label for="pre_board">Previous Board:<span id="required">*</span></label>
        <select name="pre_board">
          <option value="cbse">CBSE</option>
          <option value="icse">ICSE</option>
          <option value="bihar_bd">Bihar Board</option>
          <option value="delhi_bd">Delhi Board</option>
          <option value="haryana_bd">Haryana Board</option>
          <option value="rajasthan_bd">Rajasthan Board</option>
          <option value="up_bd">UP Board</option>
        </select>
        
        
        <label for="prev_class">Previous Class:<span id="required">*</span></label>
        <input type="number" name="prev_class" required />
        
        <label for="pass_year">Passing Year:<span id="required">*</span></label>
        <input type="number" name="pass_year" required />
        
        <label for="percentage">Percentage:<span id="required">*</span></label>
        <input type="number" id="input" name="annual_income" min required />
        
        <label for="disabled">Disabled:<span id="required">*</span></label>
        <select id="disables" name="disabled">
          <option value="no">NO</option>
          <option value="yes">YES</option>
        </select>
        
        <label for="parents_profession">Parents Profession <span id="required">*</span></label>
        <input type="text"  name="parents_profession" required>
        
        
        <label for="acc_no">Bank Account number: <span id="required">*</span></label>
        <input type="number"  name="acc_no" required> 
        
        <label for="ifsc">IFSC Code: <span id="required">*</span></label>
          <input type="text"  name="ifsc" required> 

        <!-- <label for="select5">Select 5:</label>
          <select id="select5" name="select5">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
          
          <label for=""></label>
          <input type=""  name="" required> -->
          <span class="btn">
            <button type="submit">Submit</button>
          </span>
        </form>
      </div>
    </div>
    </body>
</html>
    